<h1>
Your Camera Wishlist
</h1>
<p>"Your Current Wish is to have a {{camera.brand}} {{camera.model}} with a {{camera.lens}} to make use of the {{camera.megaPix}} Megapixels!"</p>
<form #wishlistForm="ngForm" (ngSubmit) = "submitForm(wishlistForm.value)">
    <div class="mb-3">
        <label for = "brand" class = "form-label">Camera Brand</label>
        <select [(ngModel)]="camera.brand" class = "form-select" name = "brand">
            <option selected>Select a Brand</option>
            <option *ngFor="let brands of brandNames"> {{brands}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for = "model" class = "form-label">Camera Model</label>
        <input [(ngModel)]="camera.model"
        required
        #model="ngModel"
        minlength="2" maxlength="100"
        [class.is-invalid]="model.invalid && model.touched"
        type = "text" class = "form-control" name = "model" placeholder = "Model"/>
    </div>
    <div class="mb-3">
        <label for = "lens" class = "form-label">Lens</label>
        <input [(ngModel)]="camera.lens"
        required
        #lens="ngModel"
        minlength="2" maxlength="100"
        [class.is-invalid]="lens.invalid && lens.touched"
        type = "text" class = "form-control" name = "lens" placeholder = "Lens"/>
    </div>
    <div class="mb-3">
        <label for = "megapix" class = "form-label">MegaPixel</label>
        <input [(ngModel)]="camera.megaPix"
        required
        #megapix="ngModel"
        min="1" max="100"
        [class.is-invalid]="megapix.invalid && megapix.touched"
        type = "number" class = "form-control" name = "megapix" placeholder = "How much is enough?"/>
    </div>
    <div class="mb-3">
        <label for = "description" class = "form-label">Description</label>
        <input [(ngModel)]="camera.description"
        required
        #description="ngModel"
        minlength="2" maxlength="400"
        [class.is-invalid]="description.invalid && description.touched"
        type = "text" class = "form-control" name = "description" placeholder = "What is it used for?"/>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" 
        [disabled]="!wishlistForm.form.valid"
        (click)="addWish()">Add Wish</button>
    </div>
</form>
<p>{{confirmationMsg}}</p>
<p>{{wishlistForm.value|json}}</p>
<h1>Your Wishes</h1>
<table class = "table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Lens</th>
            <th>MegaPixel</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let wish of wishes">
            <td>{{wish.brand}}</td>
            <td>{{wish.model}}</td>
            <td>{{wish.lens}}</td>
            <td>{{wish.megaPix}}</td>
            <th>{{wish.description}}</th>
        </tr>
    </tbody>
</table>

<div class="mb-3">
    <button class="btn btn-primary" 
    [disabled]="wishes.length==0"
    (click)="sendWishes()">Send to Santa</button>
</div>
<p>phpRESPONSE: {{response}}</p>