body{
    background-color:#f9f7f1;
    box-sizing: border-box;
}

.homeImage{
    background-image: url("../images/paul.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    height:60vh;
    width:80vw;
    color:white;
    font-size:xx-large;
}
.jumbo{
    width:80vw;
    height:13vh;
}