body{
    background-color:#f9f7f1;
}

.homeImage{
    background-image: url("../images/paul.jpeg");
    background-size: cover;
    min-height:40vh;
    max-height:60vh;
    width:80vw;
    color:white;
    font-size:xx-large;
}
.jumbo{
    width:80vw;
    height:17vh;
}