.light-blue {
    background-color: #C0EFF6;
}

.light-yellow {
    background-color: #EBFFE4;
}

.light-green {
    background-color: #D6F7F0;
}

.light-grey {
    background-color: #F4FAFB;
}  

table.center {
    margin-left: auto;
    margin-right: auto;
}

.shrink-pad {
    padding: 0 50px;
}