.light-blue {
    background-color: #C0EFF6;
}

.light-yellow {
    background-color: #EBFFE4;
}

.light-green {
    background-color: #D6F7F0;
}

.light-grey {
    background-color: #F4FAFB;
}  

table.center {
    margin-left: auto;
    margin-right: auto;
}

.shrink-pad {
    padding: 0 50px;
}

.pic-dim {
    height: 39vh;
    width: 30vw;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones and tablets: */
    [class*="col-"] {
        width: 100%;
    }

    body {
        background-color: #C0EFF6;
    }
}
