<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>KaClik!</title>
        <meta name="author" content="Bryan Kim : bjk3yf worked on upload and profile, Paul Ok : pso3td worked on suggestion forms and gallery, everything else was done together">
        <meta name="description" content="Providing potential photoshoot locations to users">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <meta name="keywords" content="Photos, camera, location, suggestion, scenery">        

    </head>  
    <body>
    <header>
      <!-- Link to index.php https://cs4640.cs.virginia.edu/bjk3yf/project/ -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border">
              <a class="navbar-brand px-3 mx-auto" style="text-align: center" href="index.php">KaClik!</a>
            </nav> 
        </header>
        
        <!-- use of a jumbotron for our main header for our home page to grab the user's attention -->
        <div class=" jumbo rounded-3 mx-auto m-3 jumbotron jumbotron-fluid border" id="mainbanner">
            <div class="container">
              <h1 class="display-4 text-center">Camera Designer</h1>
            </div>
        </div>
        <app-wishlist></app-wishlist>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>
